*{
    /**/
    
}
.main{
    background-image: url(./pexels-lukas-349609.jpg);
}
#wrapper { 
    width: 700px;
    margin: 0 auto; 
    background-color: white;
}
h1{
    color: green;
    background-color: pink;
}
h1.title{
   text-align: center;
  
}
.faq{
    background-color: khaki;
    margin: 20px;
}
.header-img{
   border: 1px solid black;
    display: block;
  margin-right: auto;
  width: 50%;
  padding: 20px;
}
.guide-list{
    font-weight: bold;
}
/*Resposive với Mobile*/
@media (max-width: 46.1875em){
    #wrapper{
        width: 65%;;
    }
}
/*Responsive với Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #wrapper{
        width: 75%;;
    }
}